body{
	font-size: 14px;
	font-family: 'elianto', sans-serif;
	font-weight: lighter;
	background: url('../img/background.jpeg');
	background-size: 100%;
	background-attachment: fixed;
	color: white;
}
a{
	color: inherit;
}
header li{
	float: right;
	padding: 0 20px 0 20px;
	margin: 0;
	display: inline;
	text-align: center;
	color: white;
}
header nav{
	margin-top: -35px;
}
h1{
	margin-top: 20px;
	margin-left: 25px;
}
#preview{
	margin-top: 250px;
	text-align: center;
}
#preview button{
	margin-top: 10px;
	height: 40px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
}
#preview button:hover{
	color:white;
	background-color: gray;
}
#social-media{
	margin-top: 250px;
	/*background-color: #fff;*/
	width: 100%;
	color: black;
}
.small{
	text-align: center;
}
.small h3{
	color: white;
	margin-top: 30px;
	font-size: 20px;
}
.icons li{
	list-style: none;
	margin: 65px;
	margin-top: 130px;
	display: inline-block;
	font-size: 70px;
	padding: 20px 20px;
	color: white;
	border-radius: 50%;
	transition: .5s;
}
.icons li:hover{
	color: blue;
	transition: .5s;
}
#skillsset{
	color: white;
	margin-top: 170px;
	text-align: center;
	padding: 20px;
}
#skillsset img{
	margin-bottom: 100px;
	height: 150px;
	width: 150px;
	border: 3px solid white;
	border-radius: 20%;
}
footer{
	margin-top: 70px;
	text-align: center;
}
@media(max-width: 768px){
	body{
		background-size: cover;
		background-repeat: no-repeat;
	}
	.icons li{
		font-size: 40px;
		text-align: center;
	}
}